.modal {
    position: fixed;
    height: 400px;
    width: 600px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #333;
    background-color: white;
    /* color: white; */
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.modalHeader {
    text-align: center;
    background-color: #2a006e;
    color: white;
    padding: 1px;
}

form{
    height: 80%;
    /* border: 1px solid black; */
}

.modalContent{
    min-height: 80%;
    /* border: 1px solid red; */
}

.modalFooter {
    height: 20%;
    /* padding-right: 20px; */
    display: flex;
    flex-flow: row;
    justify-content:flex-end;
    align-items: center;
    /* border: 1px solid blue; */
}